.basket {
  display: flex;
  flex-wrap: wrap;
}

.greyButton {
  width: 100%;
  height: 50px;
  background: #8f938a;
  border-radius: 10px;
  border: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:active {
    background-color: #39d078;
  }

}

.removeBtn {
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
  border-radius: 0;

  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}


.cartTotalBlock {
  width: 100%;
  padding-top: 40px;
  display: flex;
  margin-bottom: 20px;

  align-items: center;
  justify-content: flex-end;


  .greyButton {
    position: relative;
    width: 250px;

  }

}

.cartItem {
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  width: 100%;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  border-color: #dbded7;


  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 20px;
  }


  &:hover {
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.14);
    transform: translateY(-5px);
  }


  span {
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;
  }



  b {
    font-size: 13px;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
    width: 300px;
  }
}



.cartEmpty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  P {
    width: 280px;
    line-height: 24px;
  }

  .greyButton {
    width: 245px;
    margin-top: 20px;

    &:hover {
      img {
        transform: rotate(180deg) translateX(3px);
      }
    }

    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}